/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";

$break-sm: 768px;
$break-md: 992px;

$logo-light: #6DD0CD;
$logo-dark: #0ABBB5;

* {
	transition: 0.3s;
}

html {
	height: 100%;
}

body {
	height: 100%;
	font-family: 'Open Sans', 'Hiragino Kaku Gothic Pro', sans-serif;
	padding: 50px 0 50px;
}

.navbar-default {
	border: none;
	
	.logo {
		height: 50px;
		float: left;
		margin: -15px 15px 0 -15px;
		background-color: $logo-light;
	}

	&:hover .logo {
		background-color: $logo-dark;
	}
}

.navbar-fixed-top .container {
		height: 50px;
	}

.footer {
	margin-bottom: 0;
	padding-top: 15px;
	font-weight: 300;
	font-size: 10px;
	color: #ccc;
	background-color: white;

	a {
		color: #ccc;
	}
}

.intro {
	padding: 20px 0;

	min-height: 100%;
	background: url(../img/grass.jpg) no-repeat center center fixed; 
	background-size: cover;

	.container {
		padding: 50px 0 50px;
	}

	.content-container {
		padding: 0;
		background: #fff;

		.row {
			margin: 0;
		}
	}

	@media (max-width: $break-sm) {
		padding: 17px;
	}
}

.phone-main {
	width: 100%;
	padding: 50px 25px 80px;
	background-color: #111;
	border: #000 2px solid;
	border-radius: 20px;
	box-shadow: #666 -2px -1px 0;

	@media (max-width: $break-sm) {
		// display: none;
	}

	@media (max-width: $break-md) {
		border-radius: 15px;
		padding: 35px 15px 50px;
	}

	&::after {
		content: "";
		height: 30px;
		width: 50px;
		border: #666 1px solid;
		border-radius: 5px;
		position: absolute;
		left: 50%;
		bottom: 20px;
		margin-left: -25px;
		box-shadow: 0 0 5px #555;

		@media (max-width: $break-md) {
			height: 20px;
			width: 40px;
			margin-left: -20px;
		}
	}

	img {
		width: 100%;
	}

	.phone-screen {
		width: 100%;
		height: auto;
		.carousel-indicators {
			bottom: -180px;
			@media (max-width: $break-md) {
				bottom: -140px;
			}
		}
	}

	.phone-slide {
		width: 100%;
		height: auto;
	}
}

.primary-description {
	color: #fff;
	margin-top: 70%;
	font-weight: 100;

	@media (max-width: $break-md) {
  	padding: 30px 20px 0;
  	margin-top: 100%;
	}

	@media (max-width: $break-sm) {
		margin: 50px 0 0;
	}
}

.intro-btns {
	margin-top: 20px;

	@media (max-width: $break-md) {
		margin-left: 5px;
		margin-right: 5px;
	}

	img {
		width: 100%;
	}
}

.user-form {
	a {
		color: #fff;
		margin: 5px 0;
	}

	h6 {
		// color: #fff;
	}

	// .form-text {
	// 	color: #fff;
	// 	text-shadow: 0 0 5px #333;
	// 	font-weight: 300;
	// }

	input[type="text"],
	input[type="password"] {
		font-size: 14px;
		height: auto;
		padding: 10px;
		margin-bottom: -1px;
		border: #ccc 1px solid;
		width: 100%;
	}

	.input-block-level {
		&.input-top {
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;
		}
		&.input-btm {
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
		}
	}

	.btn {
		color: #fff;
		background-color: #333;
		margin-top: 20px;
	}
}

.caption {
	a {
		color: #333;
	}

	h4 {
		margin-top: 20px;
	}
}

.upload {
	.caption {
		margin-top: -5px;
	}
	input[type="text"] {
		border: none;
		max-width: 100%;
		height: 24px;
	}
	input[type="submit"] {
		border: none;
		background-color: #e9edf0;
		width: 100%;
	}
}

.series-main {
	margin-top: 20px;

	.thumbnail {
		border: none;

		.cap-icons {
			display: block;
			text-align: right;
			position: relative;
			z-index: 1;
			height: 70px;
			line-height: 35px;
			margin-bottom: -70px;
			padding-right: 10px;
			background: linear-gradient(to bottom, rgba(0,0,0,0.3), rgba(0,0,0,0));
			a {
				color: #fff;
			}
		}

		a {
			color: $logo-light;
		}

		.wrapper {
	    overflow: hidden;
	    position: relative;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
		}

		textarea {
			width: 100%;
			margin-top: 10px;
			border: #ccc 1px solid;
		}
	}

	p {
		margin-top: 10px;
	}
}

#file_chooser {
  z-index: 999;
  opacity: 0;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#file_chosen {
	background: #EFEFEF;
	p {
		padding: 10px;	
		color: #333;
		font-size: 12px;
		text-align: center;
	}
}

.file-btn{
  cursor: pointer;
  text-align: center;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: $logo-light;
  background: #FFF;
  font-weight: normal;
}

input.disabled {
	background: #EEE !important;
}