html {
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
	padding: 50px 0 50px;
	height: 100%;
}

.navbar-default {
	background-color: #fff;
	border: none;
}

.footer {
	margin-bottom: 0;
	padding-top: 15px;
	font-weight: 300;
	font-size: 10px;
	color: #ccc;
}

.footer a {
	color: #ccc;
}

.intro {
	min-height: 100%;
	background: url(../img/grass.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.intro .container {
	padding: 50px 0 50px;
}

.phone-main {
	background-color: #333;
	border-radius: 30px;
	width: 100%;
	padding: 50px 25px 80px;
	box-shadow: 0 0 10px #666;
}

.phone-screen {
	background-color: #fff; 
	width: 100%;
	height: auto;
}

.phone-main::after {
	content: "";
	height: 30px;
	width: 50px;
	border: #666 1px solid;
	border-radius: 5px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	margin-left: -25px;
	box-shadow: 0 0 5px #555;
}

.phone-slide {
	width: 100%;
	height: auto;
}

.primary-description {
	color: #fff;
	text-shadow: 0 0 5px #333;
	font-weight: 300;
	margin-top: 80%;
}

.intro-btns {
	margin: 30px 0 0 -30px;
}

.intro-btns img {
	width: 100%;
}

@media (max-width: 992px) {
	.primary-description {
    	margin: 0;
    	padding: 30px 20px 0;
    }
    .phone-main {
    	border-radius: 20px;
		padding: 35px 15px 50px;
	}
	.intro-btns {
		margin-left: 5px;
		margin-right: 5px;
	}
}

@media (max-width: 768px) {
    .phone-main {
    	display: none;
    }
}

.user-form a {
	color: #fff;
	margin: 0 3px 10px;
	text-shadow: 0 0 5px #333;
	font-weight: 300;
}

.user-form .form-text {
	color: #fff;
	text-shadow: 0 0 5px #333;
	font-weight: 300;
}

.user-form input[type="text"],
.user-form input[type="password"] {
	font-size: 14px;
	height: auto;
	padding: 10px;
	border-radius: 5px;
	border: #ccc 1px solid;
	width: 100%;
}

.user-form .input-block-level.input-top {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.user-form .input-block-level.input-btm {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.user-form .btn {
	color: #fff;
	background-color: #333;
}

.caption a {
	color: #333;
}

.caption h4 {
	margin-top: 20px;
}

.upload .caption {
	margin-top: -5px;
}

.upload input[type="text"] {
	border: none;
	/*border-bottom: #ccc 1px solid;*/
	max-width: 100%;
	height: 24px;
}

.upload input[type="submit"] {
	border: none;
	background-color: #e9edf0;
	width: 100%;
}

.series-main {
	margin-top: 20px;
}

.series-main .thumbnail {
	border: none;
}

.series-main p {
	margin-top: 10px;
}

.cap-icons {
	float: right;
	z-index: 1;
}

.cap-icons a {
	color: #ccc;
}